# Logs y temporales
*.log
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db

# Entornos
.env
.env.backup
.env.production
auth.json

# IDEs y configuraciones locales
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Dependencias
/vendor/
/node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Claves y cache
storage/*.key
.phpactor.json
.phpunit.result.cache

# Otros
/.vagrant
/public/build
/storage/pail
Homestead.yaml
Homestead.json
